ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  li a:hover {
    background-color: #111;
  }
  input[type=text], textarea,input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .contact{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .service{
    
   font-size: large;
      display: flex;
    margin: 90px auto;
    text-align: center;
  }
  body{
    background-image: url('https://lh3.googleusercontent.com/proxy/sYOsriVtEx7-NLQkZArk-9IBwbRucN6l7SUXcTxbbpOFbsc1wTk_qaFJU2RtZLjfXR2XmFc0Od5t7yJkLbr0H8WriJepnLn2qJzbnYApeIWGXC8X_6NiYH_2zYrWpcA');
  background-size: cover;
  }